<template>
  <v-container fluid grid-list-md detail>
    <v-layout row class="menu">
      <v-btn @click="getHomePage">Home</v-btn>
      <v-btn @click="getCreatePage" v-if="user.id && user.role.indexOf('ROLE_SELLER') !== -1">Create</v-btn>
    </v-layout>
    <v-layout row>
      <v-flex xs5>
        <img src="../../assets/event-logo.png" alt="event logo">
      </v-flex>
      <v-flex xs5>
        <v-layout row nowrap detail-row>
          <div class="detail-label">Title:</div>
          <div class="detail-title">{{ event.title }}</div>
        </v-layout>
        <v-layout row nowrap detail-row>
          <div class="detail-label">Type:</div>
          <div class="detail-type">{{ event.type }} </div>
        </v-layout>
        <v-layout row nowrap detail-row>
          <div class="detail-label">Start Date:</div>
          <div class="detail-date">{{ dateFromStampByFormat(event.date_start, 'en-US') }}</div>
        </v-layout>
        <v-layout row nowrap detail-row>
          <div class="detail-label">End Date:</div>
          <div class="detail-date">{{ dateFromStampByFormat(event.date_end, 'en-US') }}</div>
        </v-layout>
        <v-layout row nowrap detail-row>
          <div class="detail-label">Tickets:</div>
          <div class="detail-tickets">{{ event.free }}/{{ event.qty }}</div>
        </v-layout>
        <v-layout row nowrap detail-row>
          <div class="detail-label">Price:</div>
          <div class="detail-tickets">{{ event.price }} USD</div>
        </v-layout>
        <v-layout row nowrap detail-row>
          <div class="detail-label">Author:</div>
          <div class="detail-author">{{ event.author }}</div>
        </v-layout>
      </v-flex>
    </v-layout>
    <v-layout row detail-description>
      {{ event.description }}
    </v-layout>
    <v-layout row detail-actions>
        <router-link :to="{ name: 'eventBuy', params: { id: event.id } }" v-if="user.id">
          <img src="../../assets/buy-icon.png" alt="edit" title="Buy" class="action-icon">
        </router-link>
        <router-link :to="{ name: 'eventEdit', params: { id: event.id } }" v-if="user.id && user.id == event.author_id">
          <img src="../../assets/edit-icon.png" alt="edit" title="Edit" class="action-icon">
        </router-link>
    </v-layout>
  </v-container>
</template>

<script>
  import { mapState, mapActions } from 'vuex'
  import m_dateTime from '../../mixins/datetime'

  export default {
    props: ['id'],

    computed: mapState({
      event: state => state.event,
      user: state => state.user,
    }),

    created() {
      this.$store.dispatch('getEvent', this.id)
      const { user } = this.$store.state
      if(user || user.id) {
        this.checkSess()
      }
    },

    beforeDestroy() {
      this.$store.dispatch('clearEvent')
    },

    methods: mapActions([
      'getHomePage',
      'getCreatePage',
      'checkSess',
    ]),

    mixins: [m_dateTime],
  }
</script>

<style lang="scss">
  .detail {
    width: 50%;
    margin: 0 auto;

    &-row {
      display: flex;
      align-items: center;
    }

    &-title {
      font-size: 20pt;
      font-weight: 900;
      text-align: center;
    }

    &-label {
      margin-right: 20px;
    }

    &-type,
    &-date,
    &-author,
    &-tickets,
    &-description {
       font-size: 16pt;
     }

    &-actions {
      justify-content: flex-end;
    }
  }

  .menu {
    display: flex;
    justify-content: flex-end;
  }

  .action-icon {
    height: 45px;
  }

</style>
