<template>
  <v-container fluid grid-list-md edit>
    <v-layout row class="menu">
      <v-btn @click="getHomePage">Home</v-btn>
      <v-btn @click="getCreatePage">Create</v-btn>
    </v-layout>
    <v-layout row>
      <v-flex xs5>
          <img src="../../assets/event-logo.png" alt="event logo">
      </v-flex>
      <v-flex xs5>
        <v-layout row nowrap>
          <v-text-field v-model="event.title" label="Title" ></v-text-field>
        </v-layout>
        <v-layout row nowrap block>
          <v-select v-model="event.type" label="Type" :items="eventTypes"></v-select>
        </v-layout>
        <v-layout row nowrap block>
          <v-text-field v-model="event.date_start_show" label="Start Date"></v-text-field>
          <v-text-field v-model="event.date_end_show" label="End Date"></v-text-field>
        </v-layout>
        <v-layout row nowrap block>
          <v-text-field v-model="event.qty" label="Total Tickets" type="number"></v-text-field>
          <v-text-field v-model="event.price" label="Price, in USD"></v-text-field>
        </v-layout>
      </v-flex>
    </v-layout>
    <v-layout row>
      <v-textarea auto-grow v-model="event.description" label="Description"></v-textarea>
    </v-layout>
    <v-layout class="edit-buttons">
      <v-btn @click="goBack">Cancel</v-btn>
      <v-btn @click="saveEvent">Save</v-btn>
    </v-layout>
  </v-container>
</template>

<script>
  import { mapState, mapActions } from 'vuex'
  import m_dateTime from '../../mixins/datetime'

  export default {
    props: ['id'],

    data() {
      return {
        eventTypes: [
          'concert',
          'conference',
          'exhibition',
          'seminar',
          'festival'
        ]
      }
    },

    computed: mapState({
      event: state => state.event
    }),

    created() {
      if(this.id != undefined) {
        this.$store.dispatch('getEvent', this.id)
      } else {
        this.$store.dispatch('clearEvent')
      }
      const { user } = this.$store.state
      if(user || user.id) {
        this.checkSess()
      }
    },

    beforeUpdate() {
      const { event } = this.$store.state
      if(event.date_start)
        event.date_start_show = this.dateFromStampByFormat(event.date_start, 'en-US')
      if(event.date_end)
        event.date_end_show = this.dateFromStampByFormat(event.date_end, 'en-US')
    },

    beforeDestroy() {
      this.$store.dispatch('clearEvent')
    },

    methods: mapActions([
      'getHomePage',
      'getCreatePage',
      'saveEvent',
      'checkSess',
      'goBack'
    ]),

    mixins: [m_dateTime],
  }
</script>

<style lang="scss">

  .block {
    &>div {
      padding: 0 10px;
    }
    &>div:first-child {
      padding-left: 0;
    }
    &>div:last-child {
      padding-right: 0;
    }
  }

  .menu {
    display: flex;
    justify-content: flex-end;
  }

  .edit {
    width: 50%;

    &-buttons>button {
      margin: 0 auto;
    }
  }


</style>
