<template>
  <div class="list">
    <div class="list-buttons">
      <v-btn @click="getHomePage">Home</v-btn>
      <v-btn @click="getCreatePage" v-if="user.id && user.role.indexOf('ROLE_SELLER') !== -1">Create Event</v-btn>
      <v-btn @click="getSignupPage" v-if="!user.id">Sign up</v-btn>
      <v-btn @click="getSigninPage" v-if="!user.id">Sign in</v-btn>
      <v-btn @click="doSignout" v-if="user.id">Sign out</v-btn>
    </div>
    <div class="list-buttons">
      <v-btn @click="getPrevPage">Prev</v-btn>
      <v-btn @click="getNextPage">Next</v-btn>
    </div>
    <div class="list-container">
      <div class="list-item" v-for='event in events'>
        <div class="list-container-inner">
          <div class="list-item-inner">
            <div class="list-item-logo">
              <img src="../../assets/event-logo.png" alt="event logo">
            </div>
          </div>
          <div class="list-item-inner">
            <div class="list-item-title">
              {{ event.title }}
            </div>
            <div>
              <span class="list-item-label">Type:</span> <span class="list-item-type">{{ event.type }} </span>
            </div>
            <div>
              <span class="list-item-label">Start Date:</span> <span class="list-item-date">{{ dateFromStampByFormat(event.date_start, 'en-US') }}</span>
            </div>
            <div>
              <span class="list-item-label">End Date:</span> <span class="list-item-date">{{ dateFromStampByFormat(event.date_end, 'en-US') }}</span>
            </div>
            <div class="list-item-actions">
              <div class="list-item-action" v-if="user.id && user.id == event.author_id">
                <router-link :to="{ name: 'eventEdit', params: { id: event.id } }">
                  <img src="../../assets/edit-icon.png" alt="edit" title="Edit">
                </router-link>
              </div>
              <div class="list-item-action">
                <router-link :to="{ name: 'eventDetail', params: { id: event.id } }">
                  <img src="../../assets/view-icon.png" alt="view" title="Details">
                </router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="list-buttons">
      <v-btn @click="getPrevPage">Prev</v-btn>
      <v-btn @click="getNextPage">Next</v-btn>
    </div>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex'
  import m_dateTime from '../../mixins/datetime'

  export default {
    computed: mapState({
      events: state => state.events,
      user: state => state.user,
    }),

    created() {
      this.$store.dispatch('getEvents')
      const { user } = this.$store.state
      if(user || user.id) {
        this.checkSess()
      }
    },

    methods: mapActions([
      'getPrevPage',
      'getNextPage',
      'getHomePage',
      'getCreatePage',
      'getSignupPage',
      'getSigninPage',
      'doSignout',
      'checkSess',
    ]),

    mixins: [m_dateTime],
  }
</script>



<style lang="scss">
  .list {
    margin: 0 auto;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &>*:first-child {
      align-self: end;
      margin-right: 20%;
    }

    &-buttons {
      margin: 0 auto;

      &>button {
        margin: 10px;
      }

      &>button:last-child {
        margin-right: 0;
      }
    }

    &-container {
      margin: 0 auto;
      width: 70%;
      display: flex;
      flex-wrap: wrap;

      &-inner {
        display: flex;
        justify-content: space-around;
        width: 100%;
      }
    }

    &-item {
      width: 100%;
      flex: 0 50%;
      display: flex;
      padding: 15px;
      border: white solid 1px;
      box-sizing:border-box;

      &:hover {
        border: gray solid 1px;
      }

      &-logo {
        height: 150px;

        &>img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      &-title {
        font-size: 20pt;
        font-weight: 900;
      }

      &-type {
        font-size: 16pt;
      }

      &-date {
        font-size: 16pt;
      }

      &-actions {
        margin-top: 15px;

        &>div {
          height: 30px;
          display: inline-block;
          margin:10px;
          float: right;

          &>a>img {
            max-width: 100%;
            max-height: 100%;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      &-action {
      }
    }
  }
</style>
