<template>
  <v-app id='app'>
    <router-view></router-view>
  </v-app>
</template>

<style>
  @import 'vuetify.min.css';
  @import '~material-design-icons/iconfont/material-icons.css';
  @import '~typeface-roboto/index.css';
</style>
