<template>
  <v-container fluid grid-list-md signup>
    <v-layout menu>
      <v-btn @click="getHomePage">Home</v-btn>
    </v-layout>
    <v-layout column>
      <v-form ref="form" class="form">
        <v-text-field
                label="Email"
                v-model="signup.email"
                class="form-input"
                :rules="[rules.required, rules.email]"
        ></v-text-field>
        <v-text-field
                label="Password"
                v-model="signup.password"
                :rules="[rules.required, rules.minLength]"
                :type="'password'"
        ></v-text-field>
        <v-text-field
                label="Fist Name"
                v-model="signup.first_name"
                :rules="[rules.required]"
        ></v-text-field>
        <v-text-field
                label="Last Name"
                v-model="signup.last_name"
                :rules="[rules.required]"
        ></v-text-field>
        <v-text-field
                label="Middle Name"
                v-model="signup.middle_name"
        ></v-text-field>
        <v-layout signup-buttons>
          <v-btn @click="goBack">Cancel</v-btn>
          <v-btn @click="doSignup" :disabled="disabled">Sign up</v-btn>
        </v-layout>
      </v-form>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    data () {
      return {
        disabled: true,
        rules: {
          required: value =>
                  !!value || 'Required',
          minLength: value =>
                  (value && value.length >= 8) || 'Min 8 characters',
          email: value =>
                  /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(value) || 'Invalid e-mail',
        }
      }
    },

    computed: mapState({
      signup: state => state.signup
    }),

    beforeUpdate() {
      this.disabled = !this.$refs.form.validate()
    },

    beforeDestroy() {
      this.$store.dispatch('clearSignup')
    },

    methods: mapActions([
      'getHomePage',
      'doSignup',
      'goBack'
    ]),
  }

  import { mapState, mapActions } from 'vuex'
</script>

<style lang="scss">
  .menu {
    display: flex;
    justify-content: flex-end;
  }

  .signup {
    width: 50%;

    &-buttons > button {
      margin: 0 auto;
    }
  }

  .form {
    background: #f0f0f0;
    margin: 100px auto;
    padding: 50px 50px;

    &-input {
      min-width: 500px;
    }
  }
</style>
